@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 200;
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 25px;
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.header .fill {
    flex: 1;
}

.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .item {
    margin: 0 8px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.header .item:hover {
    border-color: #000;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.hero h1 {
    text-align: center;
    max-width: 960px;
    font-weight: 200;
}

.me {
    width: 250px;
    padding: 30px 0;
}

.portfolio {
    text-align: center;
}

.portfolio h3 {
    padding: 38px 0;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.list__item:nth-child(1) {
    background: #015668;
}

.list__item:nth-child(2) {
    background: #06648C;
}

.list__item:nth-child(3) {
    background: #0F81C7;
}

.list__item:nth-child(4) {
    background: #0DE2EA;
}

.list__item .inner__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.list__item .inner__item img {
    width: 100%;
}

.list__item .hover__item {
    padding: 12px;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    transition: all .3s ease-in-out;
}

.list__item:hover .inner__item {
    font-size: 1.3em;
}

.skills {
    text-align: center;
    padding: 20px 0;
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 0 50px;
    }

    .list__item {
        width: 50%;
    }
}