@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 200;
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-top: 25px;
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.header .fill {
    flex: 1;
}

.header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .item {
    margin: 0 8px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.header .item:hover {
    border-color: #000;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.hero h1 {
    text-align: center;
    max-width: 960px;
    font-weight: 200;
}

.portfolio h3 {
    padding-top: 38px;
    text-align: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 100%;
}

.list__item .inner__item {
    position: relative;
    width: 100%;
}

.list__item .inner__item img {
    width: 100%;
}

.list__item .hover__item {
    position: absolute;
    top: 70%;
    right: 0;
    padding: 12px;
    background: #fafafa;
    white-space: nowrap;
    text-align: right;
    transition: all .3s ease-in-out;
}

.list__item:hover .hover__item {
    width: 200px;
    opacity: 1;
    visibility: visible;
}

/* .list__item img {} */

/* .list__item:nth-child(3n) {
    width: 100%;
} */

@media only screen and (min-width: 768px) {
    .header {
        padding: 0 50px;
    }

    .list__item { 
        width: 50%;
    }

    .list__item .inner__item {
        width: 50%;
    }

    .list__item .hover__item {
        width: 0;
        opacity: 0;
        visibility: hidden;
    }
}